<div *ngIf="isHeaderOpen">
  <div class="controls">
    <button mat-button mat-flat-button color="primary" (click)="createNewFolder($event)">
      + New Folder
    </button>
    <button mat-button mat-stroked-button color="warn">
      <mat-icon>delete_outline</mat-icon>
      Delete
    </button>
  </div>

  <!-- <div>
    <button mat-button mat-flat-button color="primary" >
      Save
    </button>
    <button mat-button mat-stroked-button color="warn">
      Cancel
    </button>
  </div> -->
</div>

<mat-accordion>
  <mat-expansion-panel (click)="isHeaderOpen = !isHeaderOpen">
    <!-- Accordion Header -->
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="accordian-header">
            <!-- Title -->
            <span class="title">Available Downloads</span>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <!-- Accordion body -->
    <div class="accordian-body">
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-card class="new-folder" *matTreeNodeDef="let node;" [ngStyle]="{'margin': node.level===0 ? '5px 0' : ''}">
          <mat-tree-node matTreeNodeToggle (click)="selectNode(node)" (blur)="onBlur(node)" matTreeNodePadding>
            <button mat-icon-button >
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) && node.name ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>      
            <p *ngIf="node.name" class="node-name">{{node.name}}</p>    
            <mat-form-field *ngIf="!node.name" appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Enter Name" [formControl]="nodeNameFC">
            </mat-form-field>
          </mat-tree-node>
        </mat-card>
      </mat-tree>
    </div>
  </mat-expansion-panel>
</mat-accordion>
