<div *ngIf="isHeaderOpen">
  <div class="controls" *ngIf="!newFolder">
    <button mat-button mat-flat-button color="primary" (click)="createNewFolder($event)">
      + New Folder
    </button>
    <button mat-button mat-stroked-button color="warn">
      <mat-icon>delete_outline</mat-icon>
      Delete
    </button>
  </div>

  <div class="controls" *ngIf="newFolder">
    <button mat-button mat-flat-button color="primary" [disabled]="!folderNameFC.valid" (click)="saveNewFolder()">
      Save
    </button>
    <button mat-button mat-stroked-button color="warn" (click)="cancelNewFolder($event)">
      Cancel
    </button>
  </div>
</div>

<mat-accordion>
  <mat-expansion-panel>
    <!-- Accordion Header -->
    <mat-expansion-panel-header (click)="isHeaderOpen = !isHeaderOpen">
      <mat-panel-title>
        <div class="accordian-header">
            <!-- Title -->
            <span class="title">Available Downloads</span>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <!-- Accordion body -->
    <div class="accordian-body">
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-card class="new-folder" *matTreeNodeDef="let node" >
            <mat-tree-node matTreeNodeToggle tabindex="0" (click)="selectFolder(node)" [ngStyle]="{'background-color': node.selected ? 'rgb(199 223 235)' : ''}" matTreeNodePadding>
              <button mat-icon-button >
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) && node.name ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>      
              <p class="node-name" 
              [ngClass]="{'fb' : node.level === 0 || node.selected, 
                          'fs' : node.level !== 0, 
                          'cg' : node.level !== 0 && !node.selected}"
              >
              {{node.name}}
              </p>    
            </mat-tree-node>
        </mat-card>
          <mat-card class="new-folder" *matTreeNodeDef="let node; when: hasNoContent" >
            <mat-tree-node tabindex="0" [ngStyle]="{'border' : newFolder ? '1px solid rgb(132, 132, 241)' : ''}" matTreeNodePadding #folder>
              <button mat-icon-button>
                <mat-icon>chevron_right</mat-icon>
              </button>
              <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Enter Name" [formControl]="folderNameFC" autofocus="true" >
              </mat-form-field>
            </mat-tree-node> 
          </mat-card>
      </mat-tree>
    </div>
  </mat-expansion-panel>
</mat-accordion>
