$searchBarHeight: 36px;


.header-search-field-custom {
 max-height: $searchBarHeight;


 .search-bar-custom {
   height: 100%;
   height: $searchBarHeight;
   position: relative;


   .search-icon {
     position: absolute;
     color: #5f5a5a;
     font-size: 23px;
     left: 6px;
     top: 50%;
     transform: translateY(-50%);
   }


   .disabled-input-custom {
     height: 100%;
     outline: none;
     box-shadow: none;
     font-size: 14px;
     padding-left: 30px;
     border: 1px solid #BDBDBD;
     border-radius: 4px 0 0 4px;
   }
   .disabled-input-custom :focus{
     border-color:black ;
   }
 }
}


.p10{
 padding: 1rem;
}


.hide {
 display: none;
}


.mat-tree-node{
 padding: 0 1rem;
}


.file-tree .mat-nested-tree-node div[role=group] {
 padding-left: 40px;
}


.new-folder{
 border: 1px solid blue;
 border-radius: 5px;
}


.folder-name-field{
 width: 30%;
}


.file-name{
 font-style: italic;
}


.selected-folder{
 background-color: blueviolet;
}


.file-tree div[role=group] > .mat-tree-node {
 padding-left: 40px;
}


.primary-text{
 color: var(--theme-primary-500);
}


.bold{
 font-weight: 700;
}


.light-text{
 color: #97999B;
}
